/*
body {
    background-color: black;
}

.img_thumb {

}
.img_thumb  img {
    border: 5px solid white;
    size: 500px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 25%;
}

.centerImage
{
    border: 5px solid white;
    text-align:center;
    display:block;
    margin-bottom: 25px;
}

.banner_img {
    max-height: 100%;
    max-width: 100%;
    -webkit-box-shadow: -7px 8px 28px -1px rgb(0 0 0 / 30%);
    -moz-box-shadow: -7px 8px 28px -1px rgba(0,0,0,0.3);
    box-shadow: -7px 8px 28px -1px rgb(0 0 0 / 30%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    background: #fff;
}

1img {
    border: 0;
}

.img_work_home {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 100%;
    cursor: pointer;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


*/
a {
    text-decoration: none;
 color: black;
}
